Package: debian-archive-keyring
Version: 2019.1
Architecture: all
Maintainer: Debian Release Team <packages@release.debian.org>
Installed-Size: 198
Section: misc
Priority: important
Multi-Arch: foreign
Description: GnuPG archive keys of the Debian archive
 The Debian project digitally signs its Release files. This package
 contains the archive keys used for that.
