[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Type=Link
Name=Con estos atajos de teclado y ratón dominarás Firefox como un experto
URL=https://m.genbeta.com/navegadores/domina-firefox-con-estos-atajos-de-teclado-y-raton
[InternetShortcut]
URL=https://m.genbeta.com/navegadores/domina-firefox-con-estos-atajos-de-teclado-y-raton