[Desktop Entry]
Type=Link
URL=http://unix.stackexchange.com/questions/4489/a-tool-for-automatically-applying-randr-configuration-when-external-display-is-p
Name[es_EC]=A tool for automatically applying RandR configuration when external display is plugged in.desktop
