[Desktop Entry]
Type=Link
URL=https://www.google.com.ec/search?q=how+to+use+dictconv&oq=how+to+use+dictconv&aqs=chrome..69i57.1976j0j7&client=ubuntu&sourceid=chrome&ie=UTF-8