[Desktop Entry]
Type=Link
URL=https://wiki.gnome.org/Attic/GnomeArt/Tutorials/MetacityThemes
Name[es_ES]=Attic_GnomeArt_Tutorials_MetacityThemes - GNOME Wiki.desktop
