[Desktop Entry]
Type=Link
URL=https://www.funcionarioseficientes.es/tutoriales/como-recortar-o-eliminar-el-fondo-de-una-imagen-en-gimp-2-8-con-la-herramienta-de-rutas