[Desktop Entry]
Type=Link
URL=http://www.linuxquestions.org/questions/linux-desktop-74/jwm-window-manager-how-to-put-the-taskbar-on-the-top-of-the-monitor-774159/