[Desktop Entry]
Type=Link
URL=https://www.google.com.ec/search?q=show+75Hz+options+in+linux&oq=show+75Hz+options+in+linux&aqs=chrome..69i57.8873j0j7&client=ubuntu&sourceid=chrome&ie=UTF-8