[Desktop Entry]
Type=Link
URL=https://www.xataka.com/privacidad/google-chrome-obligara-a-adblockers-cambiar-a-api-limitada-exigente-salvo-a-usuarios-empresa-que-podran-seguir-igual