Package: touchegg
Version: 2.0.12
Architecture: i386
Maintainer: José Expósito <jose.exposito89@gmail.com>
Installed-Size: 417
Depends: libc6 (>= 2.7), libcairo2 (>= 1.2.4), libgcc-s1 (>= 4.2), libglib2.0-0 (>= 2.26.0), libgtk-3-0 (>= 3.19.12), libinput10 (>= 0.21.0), libpugixml1v5 (>= 1.4), libstdc++6 (>= 9), libudev1 (>= 183), libx11-6, libxi6 (>= 2:1.2.99.4), libxrandr2 (>= 2:1.2.0), libxtst6
Section: misc
Priority: optional
Homepage: https://github.com/JoseExposito/touchegg
Description: Multi-touch gesture recognizer
 Touchégg is an app that runs in the background and transform the gestures you
 make in your touchpad into visible actions in your desktop.
 For example, you can swipe up with 3 fingers to maximize a window or swipe left
 with 4 finger to switch to the next desktop.
