[Desktop Entry]
Type=Link
URL=https://planetadiego.com/2018/03/30/instalar-pulseeffects-en-linux-y-solucionar-el-problema-de-que-no-se-escucha-el-audio-cuando-esta-activado/