[Desktop Entry]
Type=Link
URL=https://www.omgubuntu.co.uk/2018/05/transfer-files-ubuntu-windows-wifi-network
Name[es_ES]=Transfer Files from PC to PC Over Your Local Network - OMG.desktop
