Package: debian-ports-archive-keyring
Version: 2019.11.05~deb10u1+rebuild
Architecture: all
Maintainer: Aurelien Jarno <aurel32@debian.org>
Installed-Size: 52
Section: misc
Priority: optional
Multi-Arch: foreign
Description: GnuPG archive keys of the debian-ports archive
 The debian-ports archive digitally signs its Release files. This package
 contains the archive keys used for that.
