[Desktop Entry]
Type=Link
URL=https://graphicdesign.stackexchange.com/questions/47145/how-to-reduce-the-number-of-nodes-in-a-traced-map-using-inkscape