[Desktop Entry]
Type=Link
URL=https://chrome.google.com/webstore/detail/vidiq-vision-for-youtube/pachckjkecffpdphbpmfolblodfkgbhl?utm_source=chrome-ntp-icon