[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Type=Link
Name=How to change User Agent in your desktop browser
URL=https://deviceatlas.com/blog/how-to-change-user-agent-in-desktop-browser
[InternetShortcut]
URL=https://deviceatlas.com/blog/how-to-change-user-agent-in-desktop-browser