[Desktop Entry]
Type=Link
URL=https://answers.microsoft.com/en-us/windows/forum/windows_10-start/how-to-get-computer-to-75hz-but-computer-isnt/0c8a9ba9-c33e-4881-8c44-7dccb7e2f5c2